html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PD Week Schedule
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./styles.sass")
    link(rel="icon", href="./assets/ASC_Asterik.svg")
  mixin schedule-block(name, time, dur, linkname, href, link2name, href2, link3name, href3, link4name, href4, link5name, href5)
    div.row.sched-card
      div.col.s9.offset-s1
        div.card.sched-item(class!=attributes.class)
          div.card-content
            div.card-title= name
            p= time
            p.hidden= dur
          div.card-action(class!=attributes.footerClass)
            a(href=href)= linkname
            a(href=href2)= link2name
            a(href=href3)= link3name
            a(href=href4)= link4name
            a(href=href5)= link5name
  mixin Material-link(act_name, linkname, href, link2name, href2, link3name, href3)
    li.collection-item
      h5= act_name
      a(href=href)= linkname
      a(href=href2)= link2name
      a(href=href3)= link3name
  body
    div.container
      div.row
        div.col.s12.center
          h1.title All Star Code PD Week Schedule
          img#titleAsterik.col.s4.offset-s5(src="./assets/ASC_Asterik.svg", alt="All Star Code Asterik Logo")
      //- Day 1 Schedule Begin
      ul.collapsible
        li
          div#day-1-header.collapsible-header(data-state="closed")
            h2.title Jun 22nd, Mon - PD Week Day 1
          div.collapsible-body
            +schedule-block(`Welcome to PD Week`,`10:00AM - 10:15AM`,`15`,`Presentation Slides`,`https://docs.google.com/presentation/d/1ElfvmvpXf7jCYXmnNx_uMw6bNC-WYp70B3YaTrQ09Hw/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`What is PD Week?`,`10:15AM - 10:30AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`Meet your Team`,`10:30AM - 10:45AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`Team Building`,`10:45AM - 11:15AM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-violet   day-1", footerClass="bg-violet-d")
            +schedule-block(`History of All Star Code`,`11:15AM - 11:30AM`,`15`,`Presentation Slides`,`https://docs.google.com/presentation/d/1RamxV5sd1uTTpd4CueoJTSTiwrE5FbgiIEQLa0P9ZmE/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`Preview of the Summer Intensive Program`,`11:30AM - 11:45AM`,`15`,`Presentation Slides`,`https://docs.google.com/presentation/d/1d40Dv6RO8wUx1wZoo0ORcclB_7r6LWex13eGiihntTY/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`BREAK1`,`11:45AM - 12:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-1", footerClass="bg-dark-d")
            +schedule-block(`Classroom Roles`,`12:00PM - 12:30PM`,`30`,`Presentation Slides`,`https://docs.google.com/presentation/d/1Jx-a0q_fBK3tzVsHvNGDXuvCSffmTyWE8EeFhKeD3q0/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`Human Resources (Operations)`,`12:30PM - 01:00PM`,`30`,`Presentation Slides`,`https://docs.google.com/presentation/d/1yJyqN5-v0Su1rjIXpaWgJvO3r2-mDvakbzRR1rDM-bQ/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`LUNCH`,`01:00PM - 02:00PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-1", footerClass="bg-dark-d")
            +schedule-block(`Navigating the Curriculum`,`02:00PM - 03:00PM`,`60`,`Curriculum Website`,`https://asc2020si.org/`,`Curriculum Google Drive`,`https://drive.google.com/open?id=1yT7FroMJhiQPeKLDuP4uG1hx8Ic8ubJf`,``,``,``,``,``,``)(class="bg-purple   day-1", footerClass="bg-purple-d")
            +schedule-block(`Setting the Norm`,`03:00PM - 03:45PM`,`45`,`Setting the Norm Worksheet`,`https://docs.google.com/document/d/1COWZtOVM8A13jsfkIf8pIGKuHENmWIwB0vLXDyisW8M/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-purple   day-1", footerClass="bg-purple-d")
            +schedule-block(`BREAK2`,`03:45PM - 04:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-1", footerClass="bg-dark-d")
            +schedule-block(`Orientation Intro`,`04:00PM - 04:15PM`,`15`,`Run of Show (ROS)`,`https://docs.google.com/document/d/1jhtxGHC7UCje8MEeF1n7AmqumhwPvzJ5qBWErI_g-8Y/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-yellow   day-1", footerClass="bg-yellow-d")
            +schedule-block(`Growth Mindset`,`04:15PM - 05:15PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`Exit Survey`,`05:15PM - 05:30PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-green    day-1", footerClass="bg-green-d")
        li
          div#day-2-header.collapsible-header
            h2.title Jun 23rd, Tues - PD Week Day 2
          div.collapsible-body
            +schedule-block(`Introduction to Remote Learning`,`09:00AM - 09:30AM`,`30`,`Presentation Slides`,`https://docs.google.com/presentation/d/1VRJudc2QdZq42tcQqUc1mGgg2mIOzvGp_p5YiVXdWno/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red      day-2", footerClass="bg-red-d")
            +schedule-block(`BREAK1`,`09:30AM - 09:45AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-2", footerClass="bg-dark-d")
            +schedule-block(`Introduction to Remote Learning2`,`09:45AM - 10:45AM`,`60`,`Presentation Slides`,`https://docs.google.com/presentation/d/1VRJudc2QdZq42tcQqUc1mGgg2mIOzvGp_p5YiVXdWno/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red      day-2", footerClass="bg-red-d")
            +schedule-block(`BREAK2`,`10:45AM - 11:00AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-2", footerClass="bg-dark-d")
            +schedule-block(`Team Building`,`11:00AM - 11:30AM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-purple   day-2", footerClass="bg-purple-d")
            +schedule-block(`Evaluation Standards`,`11:30AM - 12:00PM`,`30`,`Presentation Slides`,`https://docs.google.com/presentation/d/1JSvpilZg89In1oReoVPx2KMsiEmuGhDwD85Wk7zO5d4/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-2", footerClass="bg-asc-blue-d")
            +schedule-block(`LUNCH`,`12:00PM - 01:00PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-2", footerClass="bg-dark-d")
            +schedule-block(`Team Building2`,`01:00PM - 01:30PM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-violet   day-2", footerClass="bg-violet-d")
            +schedule-block(`Virtual Microteaching Demo`,`01:30PM - 02:15PM`,`45`,`Instructor Google Drive`,`https://drive.google.com/drive/folders/118gX5Gk6S9o5oPWX_YGCJmDihIr_kFhE`,``,``,``,``,``,``,``,``)(class="bg-purple   day-2", footerClass="bg-purple-d")
            +schedule-block(`Virtual Microteaching #1`,`02:15PM - 03:30PM`,`75`,`Instructor Google Drive`,`https://drive.google.com/drive/folders/118gX5Gk6S9o5oPWX_YGCJmDihIr_kFhE`,``,``,``,``,``,``,``,``)(class="bg-purple   day-2", footerClass="bg-purple-d")
            +schedule-block(`BREAK3`,`03:30PM - 03:45PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-2", footerClass="bg-dark-d")
            +schedule-block(`Intersectionality`,`03:45PM - 04:45PM`,`60`,`Presentation Slides`,`https://docs.google.com/presentation/d/1aFwf8bCXPT6xVKuu3liG5YnUmdEaSgihmc-s5nuZm3s/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-2", footerClass="bg-asc-blue-d")
            +schedule-block(`Exit Survey`,`04:45PM - 05:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-green    day-2", footerClass="bg-green-d")
        li
          div#day-3-header.collapsible-header
            h2.title Jun 24th, Tues - PD Week Day 3
          div.collapsible-body
            +schedule-block(`Team Building`,`10:00AM - 10:30AM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-violet   day-3", footerClass="bg-violet-d")
            +schedule-block(`BREAK1`,`10:30AM - 10:45AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-3", footerClass="bg-dark-d")
            +schedule-block(`Virtual Learning: Expectations vs. Reality `,`10:45AM - 11:45AM`,`60`,`Presentation Slides`,`https://drive.google.com/file/d/18X9e8dkzuh2bjZ3gVdXkby30eS13gv3F/view?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red      day-3", footerClass="bg-red-d")
            +schedule-block(`BREAK2`,`11:45AM - 12:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-3", footerClass="bg-dark-d")
            +schedule-block(`Building Virtual Community`,`12:00PM - 01:00PM`,`60`,`Presentation Slides`,`https://docs.google.com/presentation/d/1nutMZKr4t4HsYyfLsDodDbejF_W7g6pOpl61Mds0sIA/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red      day-3", footerClass="bg-red-d")
            +schedule-block(`LUNCH`,`01:00PM - 02:00PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-3", footerClass="bg-dark-d")
            +schedule-block(`Scholar Services`,`02:00PM - 02:15PM`,`15`,`Presentation Slides`,`https://docs.google.com/presentation/d/140Qf9VVRep3Cw47_socoE1ksCdEICMFICF8urvo8eEQ/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-3", footerClass="bg-asc-blue-d")
            +schedule-block(`Orientation Prep`,`02:45PM - 04:30PM`,`105`,``,``,``,``,``,``,``,``,``,``)(class="bg-yellow   day-3", footerClass="bg-yellow-d")
            +schedule-block(`BREAK3`,`04:30PM - 04:45PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-3", footerClass="bg-dark-d")
            +schedule-block(`Incoming & Returning Instructors`,`04:45PM - 05:45PM`,`60`,`Incoming Instructors Forum`,`https://drive.google.com/open?id=1f7lrwdIrWNcYqm9--GJqHXzBsZeIt_yh4cpXqKmVFwY`,`Returning Instructors Forum`,`https://drive.google.com/open?id=1YGjJMH3P6IvtxzOXsWv1Wd2qNf3fEYIY3I6pjFvEmRI`,``,``,``,``,``,``)(class="bg-purple   day-3", footerClass="bg-purple-d")
            +schedule-block(`Exit Survey`,`05:45PM - 06:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-green    day-3", footerClass="bg-green-d")
        li
          div#day-4-header.collapsible-header
            h2.title Jun 25th, Tues - PD Week Day 4
          div.collapsible-body
            +schedule-block(`Team Building`,`10:00AM - 10:30AM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-violet   day-4", footerClass="bg-violet-d")
            +schedule-block(`Neurodiversity `,`10:30AM - 01:00PM`,`150`,``,``,``,``,``,``,``,``,``,``)(class="bg-red      day-4", footerClass="bg-red-d")
            +schedule-block(`LUNCH`,`01:00PM - 02:00PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-4", footerClass="bg-dark-d")
            +schedule-block(`Meet the Staff`,`02:00PM - 02:30PM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-4", footerClass="bg-asc-blue-d")
            +schedule-block(`Escalation Policy`,`02:30PM - 03:00PM`,`30`,`Presentation Slides`,`https://docs.google.com/presentation/d/1w-wui-ldDtwlqDW1snbzCtqhJrkfSTiTj4Xnid-zIA0/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-4", footerClass="bg-asc-blue-d")
            +schedule-block(`BREAK1`,`03:00PM - 03:15PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-4", footerClass="bg-dark-d")
            +schedule-block(`Kinesthetic Learning (Virtual Edition)`,`03:15PM - 04:00PM`,`45`,``,``,``,``,``,``,``,``,``,``)(class="bg-purple   day-4", footerClass="bg-purple-d")
            +schedule-block(`Team Building2`,`04:00PM - 04:15PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-violet   day-4", footerClass="bg-violet-d")
            +schedule-block(`Orientation Prep`,`04:15PM - 05:00PM`,`45`,`Orientation Deck`,`https://docs.google.com/presentation/d/1TY6f96Rzitqyp13BujkX0uGtLNsuJGu3EuJE0rEWFOk/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-green    day-4", footerClass="bg-green-d")
            +schedule-block(`Orientation Break`,`05:00PM - 06:00PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-4", footerClass="bg-dark-d")
            +schedule-block(`Orientation`,`06:00PM - 08:30PM`,`150`,``,``,``,``,``,``,``,``,``,``)(class="bg-green    day-4", footerClass="bg-green-d")
        li
          div#day-5-header.collapsible-header
            h2.title Jun 26th, Tues - PD Week Day 5
          div.collapsible-body
            +schedule-block(`Team Building`,`10:30AM - 11:00AM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-violet   day-5", footerClass="bg-violet-d")
            +schedule-block(`Exit Survey`,`11:00AM - 11:15AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-green    day-5", footerClass="bg-green-d")
            +schedule-block(`Professional Blind Spot`,`11:15AM - 12:15PM`,`60`,`Presentation Slides`,`https://drive.google.com/open?id=1alACNGba9rK3AliIsn5ik_8TH-TAs3VUWJ7-U0Ztim0`,``,``,``,``,``,``,``,``)(class="bg-purple   day-5", footerClass="bg-purple-d")
            +schedule-block(`BREAK`,`12:15PM - 12:30PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-5", footerClass="bg-dark-d")
            +schedule-block(`Virtual Microteaching #2`,`12:30PM - 01:45PM`,`75`,`Instructor Google Drive`,`https://drive.google.com/drive/folders/118gX5Gk6S9o5oPWX_YGCJmDihIr_kFhE`,``,``,``,``,``,``,``,``)(class="bg-purple   day-5", footerClass="bg-purple-d")
            +schedule-block(`LUNCH`,`01:45PM - 02:45PM`,`60`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-5", footerClass="bg-dark-d")
            +schedule-block(`Extrinsic vs. Intrinsic Motivation`,`02:45PM - 03:15PM`,`30`,`Presentation Slides`,`https://drive.google.com/open?id=1hg7JK3X3Wga6GY6FKayL9OSVS_c0TyT8v8oDCSzpxz8`,`Extrinsic vs. Intrinsic Motivation Worksheet`,`https://docs.google.com/document/d/1jfIOvQvLmWC68lzuztE_JxBe3P7SpsZ3IBJwRINiJbQ/edit?usp=sharing`,``,``,``,``,``,``)(class="bg-purple   day-5", footerClass="bg-purple-d")
            +schedule-block(`Challenge Zone`,`03:15PM - 04:15PM`,`60`,`Challenge Zone Website`,`https://challengezone-beta.glitch.me`,`Challenge Zone Instructions`,`https://hackmd.io/@danteasc4/ASCCZInstructions`,`Eng To Int Challenge`,`https://hackmd.io/@danteasc4/ASCCZEngToInt`,``,``,``,``)(class="bg-violet   day-5", footerClass="bg-violet-d")
            +schedule-block(`Instructional Team Breakout`,`04:15PM - 04:45PM`,`30`,`LI - Lesson Plan Folder`,`https://drive.google.com/drive/folders/1fFkKb-CcJsgtkBELSKoR7LiLX1CnT8mM?usp=sharing`,`LI - Sample Lesson Plan`,`https://docs.google.com/document/d/1cgGqGyWXG68EpogUEtR6Be3-h_O8rJ5Zc-r4xeM_eKo/edit?usp=sharing`,``,``,``,``,``,``)(class="bg-purple   day-5", footerClass="bg-purple-d")
            +schedule-block(`BREAK2`,`04:45PM - 05:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark     day-5", footerClass="bg-dark-d")
            +schedule-block(`Kahoot!`,`05:00PM - 05:30PM`,`30`,`Join Here`,`https://kahoot.it/`,``,``,``,``,``,``,``,``)(class="bg-purple   day-5", footerClass="bg-purple-d")
            +schedule-block(`Exit Survey2`,`05:30PM - 05:45PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-green    day-5", footerClass="bg-green-d")
            +schedule-block(`Closing Statement`,`05:45PM - 06:00PM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-5", footerClass="bg-asc-blue-d")
        li
          div.collapsible-header
            h2.title All PD Materials
          div.collapsible-body
            ul.collection
              +Material-link(`Welcome To PD Week`, `Presentation Slides`, `https://docs.google.com/presentation/d/1ElfvmvpXf7jCYXmnNx_uMw6bNC-WYp70B3YaTrQ09Hw/edit?usp=sharing`)
              +Material-link(`History of All Star Code`, `Presentation Slides`, `https://docs.google.com/presentation/d/1RamxV5sd1uTTpd4CueoJTSTiwrE5FbgiIEQLa0P9ZmE/edit?usp=sharing`)
              +Material-link(`Preview of the Summer Intensive Program`, `Presentation Slides`, `https://docs.google.com/presentation/d/1d40Dv6RO8wUx1wZoo0ORcclB_7r6LWex13eGiihntTY/edit?usp=sharing`)
              +Material-link(`Classroom Roles`, `Presentation Slides`, `https://docs.google.com/presentation/d/1Jx-a0q_fBK3tzVsHvNGDXuvCSffmTyWE8EeFhKeD3q0/edit?usp=sharing`)
              +Material-link(`Human Resources (Operations)`, `Presentation Slides`, `https://docs.google.com/presentation/d/1yJyqN5-v0Su1rjIXpaWgJvO3r2-mDvakbzRR1rDM-bQ/edit?usp=sharing`)
              +Material-link(`Navigating the Curriculum`, `Curriculum Website`, `https://asc2020si.org/`, `, Curriculum Google Drive`, `https://drive.google.com/open?id=1yT7FroMJhiQPeKLDuP4uG1hx8Ic8ubJf`)
              +Material-link(`Setting the Norm`, `Setting the Norm Worksheet`, `https://docs.google.com/document/d/1COWZtOVM8A13jsfkIf8pIGKuHENmWIwB0vLXDyisW8M/edit?usp=sharing`)
              +Material-link(`Orientation Intro`, `Run of Show (ROS)`, `https://docs.google.com/document/d/1jhtxGHC7UCje8MEeF1n7AmqumhwPvzJ5qBWErI_g-8Y/edit?usp=sharing`)
              +Material-link(`Introduction to Remote Learning`, `Presentation Slides`, `https://docs.google.com/presentation/d/1VRJudc2QdZq42tcQqUc1mGgg2mIOzvGp_p5YiVXdWno/edit?usp=sharing`)
              +Material-link(`Evaluation Standards`, `Presentation Slides`, `https://docs.google.com/presentation/d/1JSvpilZg89In1oReoVPx2KMsiEmuGhDwD85Wk7zO5d4/edit?usp=sharing`)
              +Material-link(`Virtual Microteaching`, `Instructor Google Drive`, `https://drive.google.com/drive/folders/118gX5Gk6S9o5oPWX_YGCJmDihIr_kFhE`)
              +Material-link(`Intersectionality`, `Presentation Slides`, `https://docs.google.com/presentation/d/1aFwf8bCXPT6xVKuu3liG5YnUmdEaSgihmc-s5nuZm3s/edit?usp=sharing`)
              +Material-link(`Virtual Learning: Expectations vs. Reality`, `Presentation Slides`, `https://drive.google.com/file/d/18X9e8dkzuh2bjZ3gVdXkby30eS13gv3F/view?usp=sharing`)
              +Material-link(`Building Virtual Community`, `Presentation Slides`, `https://docs.google.com/presentation/d/1nutMZKr4t4HsYyfLsDodDbejF_W7g6pOpl61Mds0sIA/edit?usp=sharing`)
              +Material-link(`Scholar Services`, `Presentation Slides`, `https://docs.google.com/presentation/d/140Qf9VVRep3Cw47_socoE1ksCdEICMFICF8urvo8eEQ/edit?usp=sharing`)
              +Material-link(`Orientation Briefing`, `Orientation Deck`, `https://docs.google.com/presentation/d/1TY6f96Rzitqyp13BujkX0uGtLNsuJGu3EuJE0rEWFOk/edit?usp=sharing`)
              +Material-link(`Incoming & Returning Instructors`, `Incoming Instructors Forum`, `https://drive.google.com/open?id=1f7lrwdIrWNcYqm9--GJqHXzBsZeIt_yh4cpXqKmVFwY`, `, Returning Instructors Forum`, `https://drive.google.com/open?id=1YGjJMH3P6IvtxzOXsWv1Wd2qNf3fEYIY3I6pjFvEmRI`)
              //- +Material-link(``, `Presentation Slides`, ``)
    script(src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js")
    //- This keeps getting removed for some reason
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="./main.js", defer)